doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="preconnect" href="https://fonts.googleapis.com")
        link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
        link(href="https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap" rel="stylesheet")
        link(rel="stylesheet", href="./styles/style.css")
        link(rel="shortcut icon", href="./pictures/logo.png")
        title TravelIxPro
    body
        header.header
            nav.w-100.nav
                .wrapper.sp-be
                    img(src="./pictures/title.svg" alt="Travelix Pro")
                    .sp-be.nav__block
                        .sp-be.nav__block-link-block
                            span.nav__block-link Tour’s
                            span.nav__block-link Services
                            span.nav__block-link Package
                            span.nav__block-link About Us
                            span.nav__block-link Sign In
                        a.btn.nav__block-link-btn Sign Up
            .left.wrapper
                .header-block
                    span.grey-font Journeys of Inspiration
                    img.header-title(src="./pictures/header-title.svg")
                    span.header-description Travel Agency Threats and Opportunities. The Perspective of Successful Owners
        main.center.main
            img.main-care(src="./pictures/man-with-map.svg")
            section.section.section-01
                .center.wrapper
                    span.section-01__pre-title Best Services
                    h1.w-100.section__title.section-01__title Our Services
                    .section-01__description
                        span There was consensus, not surprisingly, that quality traditional travel agencies provide value for money. However,
                        br
                        span this was accompanied by a high level of concern that many consumers
                    .section-01__block.grid
                        .center.grid-item-01.section-01__block-item
                            img.section-01__block-item-logo(src="./pictures/book-hotel.svg")
                            h1.w-100.section-01__block-item-title Book Hotel
                            span.section-01__block-item-description In-depth interviews with 19 owners of exceptionally successful US-based conventional travel agencies
                            a.section-01__block-item-link(href="#") Explore More
                        .center.grid-item-02.section-01__block-item
                            img.section-01__block-item-logo(src="./pictures/book-taxi.svg")
                            h1.w-100.section-01__block-item-title Book Taxi
                            span.section-01__block-item-description In-depth interviews with 19 owners of exceptionally successful US-based conventional travel agencies
                            a.section-01__block-item-link(href="#") Explore More
                        .center.grid-item-03.section-01__block-item
                            img.section-01__block-item-logo(src="./pictures/book-plane.svg")
                            h1.w-100.section-01__block-item-title Book Plane
                            span.section-01__block-item-description In-depth interviews with 19 owners of exceptionally successful US-based conventional travel agencies
                            a.section-01__block-item-link(href="#") Explore More
                        .center.grid-item-04.section-01__block-item
                            img.section-01__block-item-logo(src="./pictures/global-tour.svg")
                            h1.w-100.section-01__block-item-title Global Tour
                            span.section-01__block-item-description In-depth interviews with 19 owners of exceptionally successful US-based conventional travel agencies
                            a.section-01__block-item-link(href="#") Explore More
            section.section.section-02
                .sp-be.section-02__row
                    .section-02__rows.section-02__row-left.section-02__row-left-disabled
                    .section-02__rows.section-02__row-right.section-02__row-right-enabled
                .center.wrapper.section-02__wrapper
                    span.section-02__pre-title Recomanded Packages
                    h1.mt-15.w-100.section__title Best Value Trips
                    .mt-15.section-02__description
                        span There was consensus, not surprisingly, that quality traditional travel agencies provide value for money. However, this was
                        br
                        span accompanied by a high level of concern that many consumers
                    .section-02__block.section-02__block-01.grid
                        .left.grid-item-01.section-02__block-item
                            img(src="./pictures/best-trip-01.svg")
                            .w-100.sp-be.section-02__block-item-block-price
                                span Trip to Thailand
                                span.gold 250$sa
                            .section-02__block-item-description
                                span Join the leader in smallship cruising
                                br
                                span on the Great Lakes,
                            .sp-be.section-02__block-item-block-mark
                                img(src="./pictures/stars-five.svg")
                                span.section-02__block-item-review 3.25k Review
                            a.btn.section-02__block-item-btn View Details
                        .left.grid-item-01.section-02__block-item
                            img(src="./pictures/best-trip-02.svg")
                            .w-100.sp-be.section-02__block-item-block-price
                                span Trip to Thailand
                                span.gold 250$
                            .section-02__block-item-description
                                span Join the leader in smallship cruising
                                br
                                span on the Great Lakes,
                            .sp-be.section-02__block-item-block-mark
                                img(src="./pictures/stars-five.svg")
                                span.section-02__block-item-review 3.25k Review
                            a.btn.section-02__block-item-btn View Details
                        .left.grid-item-01.section-02__block-item
                            img(src="./pictures/best-trip-03.svg")
                            .w-100.sp-be.section-02__block-item-block-price
                                span Trip to Thailand
                                span.gold 250$
                            .section-02__block-item-description
                                span Join the leader in smallship cruising
                                br
                                span on the Great Lakes,
                            .sp-be.section-02__block-item-block-mark
                                img(src="./pictures/stars-five.svg")
                                span.section-02__block-item-review 3.25k Review
                            a.btn.section-02__block-item-btn View Details
                        .left.grid-item-01.section-02__block-item
                            img(src="./pictures/best-trip-04.svg")
                            .w-100.sp-be.section-02__block-item-block-price
                                span Trip to Thailand
                                span.gold 250$
                            .section-02__block-item-description
                                span Join the leader in smallship cruising
                                br
                                span on the Great Lakes,
                            .sp-be.section-02__block-item-block-mark
                                img(src="./pictures/stars-five.svg")
                                span.section-02__block-item-review 3.25k Review
                            a.btn.section-02__block-item-btn View Details
                    .section-02__block.section-02__block-02.grid.none
                        .left.grid-item-01.section-02__block-item
                            img(src="./pictures/best-trip-01.svg")
                            .w-100.sp-be.section-02__block-item-block-price
                                span Trip to Thailand
                                span.gold 250$ds
                            .section-02__block-item-description
                                span Join the leader in smallship cruising
                                br
                                span on the Great Lakes,
                            .sp-be.section-02__block-item-block-mark
                                img(src="./pictures/stars-five.svg")
                                span.section-02__block-item-review 3.25k Review
                            a.btn.section-02__block-item-btn View Details
                        .left.grid-item-01.section-02__block-item
                            img(src="./pictures/best-trip-02.svg")
                            .w-100.sp-be.section-02__block-item-block-price
                                span Trip to Thailand
                                span.gold 250$
                            .section-02__block-item-description
                                span Join the leader in smallship cruising
                                br
                                span on the Great Lakes,
                            .sp-be.section-02__block-item-block-mark
                                img(src="./pictures/stars-five.svg")
                                span.section-02__block-item-review 3.25k Review
                            a.btn.section-02__block-item-btn View Details
                        .left.grid-item-01.section-02__block-item
                            img(src="./pictures/best-trip-03.svg")
                            .w-100.sp-be.section-02__block-item-block-price
                                span Trip to Thailand
                                span.gold 250$
                            .section-02__block-item-description
                                span Join the leader in smallship cruising
                                br
                                span on the Great Lakes,
                            .sp-be.section-02__block-item-block-mark
                                img(src="./pictures/stars-five.svg")
                                span.section-02__block-item-review 3.25k Review
                            a.btn.section-02__block-item-btn View Details
                        .left.grid-item-01.section-02__block-item
                            img(src="./pictures/best-trip-04.svg")
                            .w-100.sp-be.section-02__block-item-block-price
                                span Trip to Thailand
                                span.gold 250$
                            .section-02__block-item-description
                                span Join the leader in smallship cruising
                                br
                                span on the Great Lakes,
                            .sp-be.section-02__block-item-block-mark
                                img(src="./pictures/stars-five.svg")
                                span.section-02__block-item-review 3.25k Review
                            a.btn.section-02__block-item-btn View Details
                    .section-02__block.section-02__block-03.grid.none
                        .left.grid-item-01.section-02__block-item
                            img(src="./pictures/best-trip-01.svg")
                            .w-100.sp-be.section-02__block-item-block-price
                                span Trip to Thailand
                                span.gold 250$12
                            .section-02__block-item-description
                                span Join the leader in smallship cruising
                                br
                                span on the Great Lakes,
                            .sp-be.section-02__block-item-block-mark
                                img(src="./pictures/stars-five.svg")
                                span.section-02__block-item-review 3.25k Review
                            a.btn.section-02__block-item-btn View Details
                        .left.grid-item-01.section-02__block-item
                            img(src="./pictures/best-trip-02.svg")
                            .w-100.sp-be.section-02__block-item-block-price
                                span Trip to Thailand
                                span.gold 250$
                            .section-02__block-item-description
                                span Join the leader in smallship cruising
                                br
                                span on the Great Lakes,
                            .sp-be.section-02__block-item-block-mark
                                img(src="./pictures/stars-five.svg")
                                span.section-02__block-item-review 3.25k Review
                            a.btn.section-02__block-item-btn View Details
                        .left.grid-item-01.section-02__block-item
                            img(src="./pictures/best-trip-03.svg")
                            .w-100.sp-be.section-02__block-item-block-price
                                span Trip to Thailand
                                span.gold 250$
                            .section-02__block-item-description
                                span Join the leader in smallship cruising
                                br
                                span on the Great Lakes,
                            .sp-be.section-02__block-item-block-mark
                                img(src="./pictures/stars-five.svg")
                                span.section-02__block-item-review 3.25k Review
                            a.btn.section-02__block-item-btn View Details
                        .left.grid-item-01.section-02__block-item
                            img(src="./pictures/best-trip-04.svg")
                            .w-100.sp-be.section-02__block-item-block-price
                                span Trip to Thailand
                                span.gold 250$
                            .section-02__block-item-description
                                span Join the leader in smallship cruising
                                br
                                span on the Great Lakes,
                            .sp-be.section-02__block-item-block-mark
                                img(src="./pictures/stars-five.svg")
                                span.section-02__block-item-review 3.25k Review
                            a.btn.section-02__block-item-btn View Details
                    .section-02__block.section-02__block-04.grid.none
                        .left.grid-item-01.section-02__block-item
                            img(src="./pictures/best-trip-01.svg")
                            .w-100.sp-be.section-02__block-item-block-price
                                span Trip to Thailand
                                span.gold 250$32
                            .section-02__block-item-description
                                span Join the leader in smallship cruising
                                br
                                span on the Great Lakes,
                            .sp-be.section-02__block-item-block-mark
                                img(src="./pictures/stars-five.svg")
                                span.section-02__block-item-review 3.25k Review
                            a.btn.section-02__block-item-btn View Details
                        .left.grid-item-01.section-02__block-item
                            img(src="./pictures/best-trip-02.svg")
                            .w-100.sp-be.section-02__block-item-block-price
                                span Trip to Thailand
                                span.gold 250$
                            .section-02__block-item-description
                                span Join the leader in smallship cruising
                                br
                                span on the Great Lakes,
                            .sp-be.section-02__block-item-block-mark
                                img(src="./pictures/stars-five.svg")
                                span.section-02__block-item-review 3.25k Review
                            a.btn.section-02__block-item-btn View Details
                        .left.grid-item-01.section-02__block-item
                            img(src="./pictures/best-trip-03.svg")
                            .w-100.sp-be.section-02__block-item-block-price
                                span Trip to Thailand
                                span.gold 250$
                            .section-02__block-item-description
                                span Join the leader in smallship cruising
                                br
                                span on the Great Lakes,
                            .sp-be.section-02__block-item-block-mark
                                img(src="./pictures/stars-five.svg")
                                span.section-02__block-item-review 3.25k Review
                            a.btn.section-02__block-item-btn View Details
                        .left.grid-item-01.section-02__block-item
                            img(src="./pictures/best-trip-04.svg")
                            .w-100.sp-be.section-02__block-item-block-price
                                span Trip to Thailand
                                span.gold 250$
                            .section-02__block-item-description
                                span Join the leader in smallship cruising
                                br
                                span on the Great Lakes,
                            .sp-be.section-02__block-item-block-mark
                                img(src="./pictures/stars-five.svg")
                                span.section-02__block-item-review 3.25k Review
                            a.btn.section-02__block-item-btn View Details
                    .section-02__block.section-02__block-05.grid.none
                        .left.grid-item-01.section-02__block-item
                            img(src="./pictures/best-trip-01.svg")
                            .w-100.sp-be.section-02__block-item-block-price
                                span Trip to Thailand
                                span.gold 250$3242
                            .section-02__block-item-description
                                span Join the leader in smallship cruising
                                br
                                span on the Great Lakes,
                            .sp-be.section-02__block-item-block-mark
                                img(src="./pictures/stars-five.svg")
                                span.section-02__block-item-review 3.25k Review
                            a.btn.section-02__block-item-btn View Details
                        .left.grid-item-01.section-02__block-item
                            img(src="./pictures/best-trip-02.svg")
                            .w-100.sp-be.section-02__block-item-block-price
                                span Trip to Thailand
                                span.gold 250$
                            .section-02__block-item-description
                                span Join the leader in smallship cruising
                                br
                                span on the Great Lakes,
                            .sp-be.section-02__block-item-block-mark
                                img(src="./pictures/stars-five.svg")
                                span.section-02__block-item-review 3.25k Review
                            a.btn.section-02__block-item-btn View Details
                        .left.grid-item-01.section-02__block-item
                            img(src="./pictures/best-trip-03.svg")
                            .w-100.sp-be.section-02__block-item-block-price
                                span Trip to Thailand
                                span.gold 250$
                            .section-02__block-item-description
                                span Join the leader in smallship cruising
                                br
                                span on the Great Lakes,
                            .sp-be.section-02__block-item-block-mark
                                img(src="./pictures/stars-five.svg")
                                span.section-02__block-item-review 3.25k Review
                            a.btn.section-02__block-item-btn View Details
                        .left.grid-item-01.section-02__block-item
                            img(src="./pictures/best-trip-04.svg")
                            .w-100.sp-be.section-02__block-item-block-price
                                span Trip to Thailand
                                span.gold 250$
                            .section-02__block-item-description
                                span Join the leader in smallship cruising
                                br
                                span on the Great Lakes,
                            .sp-be.section-02__block-item-block-mark
                                img(src="./pictures/stars-five.svg")
                                span.section-02__block-item-review 3.25k Review
                            a.btn.section-02__block-item-btn View Details
                    .sp-be.section-02__switch
                        .switch.switch-01.switch-hover
                        .switch.switch-02
                        .switch.switch-03
                        .switch.switch-04
                        .switch.switch-05
        script(src="./scripts/main.js")